.contact-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;

  &__text {
    color: $secondary-color;
  }

  &__section {
    font-size: 2rem;
    border: 3px solid white;
    padding: 1.5rem 2.5rem;
    margin-bottom: 3rem;
    @include easeOut;

    &:hover {
      padding: 0.5rem 1.5rem;
      background-color: $secondary-color;
      color: set-text-color($secondary-color);
    }
  }

  &__section:hover &__text {
    color: set-text-color($secondary-color);
  }
}
